.banner {
	position: relative;
	background: url(../img/health.jpg) no-repeat 50% 50% / cover;
	height: 27em;
	margin-bottom: -7em;
}

.banner-contents {
	width: 28rem;
	padding: 7rem 0 14.5rem;
	text-align: center;
	color: var(--gray-background-light);
}

.banner-contents::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc((100% - 1224px) / 2 + 44rem);
	height: 100%;
	background: rgba(40, 48, 63, 0.5);
}

.banner-contents > * {
	position: relative;
}

.banner-contents .sub-text {
	border: 1px solid rgba(249, 249, 249, 0.3);
	border-width: 1px 0;
	padding: 1rem 0 0.8rem;
	font-size: 2rem;
	letter-spacing: 0.2em;
}
.banner .main-text {
	font-weight: bold;
	font-size: 5.4rem;
	margin: 1.6rem 0;
}

.description {
	font-size: 1.2rem;
	text-align: left;
	word-break: break-all;
	padding: 0 0.8rem;
}

.today {
	padding-left: 0.8em;
	font-size: 5rem;
	font-weight: bold;
	text-align: left;
	line-height: 1.1;
}
.today em {
	display: block;
	font-size: 2em;
	margin-bottom: -0.15em;
}

/* 반응형 */
@media (max-width: 1280px) {
	.banner-contents::before {
		width: 44rem;
	}
}
@media (max-width: 1260px) {
	.today {
		font-size: 3rem;
		padding-left: 0.2em;
	}
	.today em {
		display: inline;
		font-size: 1.4em;
	}
}

@media (max-width: 768px) {
	.banner-contents {
		width: 100%;
	}
	.banner-contents::before {
		width: 100%;
	}
	.banner-contents {
		margin: 0 auto;
	}

	.today {
		text-align: center;
		padding-left: 0;
	}
}

.search {
    position: absolute;
	margin-top: 40px;
	width: 40%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center; /* 텍스트 가운데 정렬 */
}

.search-input {
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    display: block; /* 수직 스택 요소로 설정 */
    margin-bottom: 10px; /* 입력 필드 아래에 간격을 조절합니다. */
}

.search-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
	gap: 0.8rem;
	height: 4rem;
	padding: 0.2rem 1.2em 0;
	border: 0;
	border-radius: var(--border-radius);
	background: var(--main-color);
	color: var(--white-color);
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1;
}

/* 선택 시 스타일 (예: 버튼 클릭 시) */
.search-btn:focus {
    outline: none;
}
.search-btn:hover {
    background-color: #005fa6; /* 마우스를 올렸을 때 배경색 변경 */
}
