.post {
	display: block;
	overflow: hidden;
	border-radius: var(--border-radius);
	background: var(--white-color);
	font-size: 2rem;
}

.post article > img {
	width: 100%;
}

.contents-wrap {
	padding: 1.6rem 2.4rem 2.4rem;
	max-width: 240px;
	width: 100%;
}

.contents-wrap h3,
.contents-wrap .post-description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.contents-wrap h3 {
	height: calc(1.8rem * 1.4 * 2);
	margin: 1rem 0;
	font-size: 1.8rem;
	font-weight: bold;
	-webkit-line-clamp: 2;
	letter-spacing: -0.02em;
}

.contents-wrap .post-description {
	height: calc(1.4rem * 1.4 * 3);
	margin-top: 1.6rem;
	color: var(--gray-color);
	font-size: 1.4rem;
	-webkit-line-clamp: 3;
	text-indent: 0.5em;
}

@media (max-width: 540px) {
	.contents-wrap h3 {
		height: auto;
		-webkit-line-clamp: 1;
	}
	.contents-wrap .post-description {
		height: auto;
		-webkit-line-clamp: 2;
	}
}

.post-description * {
	height: calc(1.4rem * 1.4 * 3);
	margin-top: 1.6rem;
	color: var(--gray-color);
	font-size: 1.4rem;
	-webkit-line-clamp: 3;
	text-indent: 0.5em;
}

article {
	width: 275px;
}

.pagination {
	display: flex;
	justify-content: center; /* 중앙 정렬을 위해 추가 */
	margin-top: 20px; /* 원하는 만큼 조절 */
}

.pagination-list {
list-style: none;
padding: 0;
display: flex;
}

.pagination-item {
margin-right: 10px;
}

.pagination-item a {
text-decoration: none; /* 링크 밑줄 제거 */
padding: 5px 10px;
border: 1px solid #ccc; /* 원하는 스타일로 조절 */
border-radius: 4px; /* 원하는 스타일로 조절 */
color: #333; /* 원하는 스타일로 조절 */
}

.pagination-item a:hover {
background-color: #f0f0f0; /* 마우스 호버 시 배경색 변경 */
}

.pagination-item a.active {
	background-color: #3498db; /* 현재 페이지에 대한 배경색 */
	color: #fff; /* 현재 페이지에 대한 글자색 */
	border-color: #3498db; /* 현재 페이지에 대한 테두리색 */
}