<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
		<link rel="stylesheet" href="../assets/css/reset.css" />

		<link rel="stylesheet" href="../assets/css/global.css" />

		<!-- layout -->
		<link rel="stylesheet" href="../assets/css/header.css" />
		<link rel="stylesheet" href="../assets/css/footer.css" />
		<link rel="stylesheet" href="../assets/css/about.css" />

		<!-- component -->
		<link rel="stylesheet" href="../assets/css/button.css" />
		<link rel="stylesheet" href="../assets/css/banner.css" />
		<link rel="stylesheet" href="../assets/css/category.css" />
		<link rel="stylesheet" href="../assets/css/author.css" />

		<link rel="stylesheet" href="../assets/css/post.css" />
		<link rel="stylesheet" href="../assets/css/posts.css" />
		<link rel="stylesheet" href="../assets/css/main.css" />
        <link rel="stylesheet" href="../assets/css/login.css" />
        <link rel="stylesheet" href="../assets/css/profile.css" />

</head>
<body>
    <header>
        <div class="max-width">
            <h1>
                <a href="../index.html">
                    <img src="../assets/img/Logo.svg" alt="My Blog" />
                </a>
            </h1>
            <ul>
                
            </ul>
        </div>
        
    </header>
    <main>
        <div class="banner">
            <div class="max-width">
                <div class="banner-contents">
                    <p class="sub-text">Health</p>
                    <p class="main-text">My Profile</p>
                    <p class="description">
                        프로필을 작성해주세요!
                    </p>
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="profile-input-box">
                <div class="max-width">
                    <img class="preview-image" alt="프로필 이미지" style ="width: 100px; height: 100px; border-radius: 50%;">
                    <!-- <div class="button"> -->
                        <label class="submitButton" for="chooseFile">
                            <!-- 👉 CLICK HERE! 👈 -->
                            <img for="chooseFile" src="../assets/img/icon-image.svg"> 
                            </label>
                            <!-- </div> -->
                    <input class="image-input" type="file" id="chooseFile" name="chooseFile" accept="image/*">
                    <input class="user-name" type="text" placeholder="닉네임"> 
                    <input type="button" class="address-ser" value="우편번호 찾기">
                    <input class="address-num" type="text" id="sample6_postcode" placeholder="우편번호">
                    <input class="address" type="text" id="sample6_address" placeholder="주소">
                    <input class="address-relate" type="text" id="sample6_extraAddress" placeholder="참고항목">
                    <input class="address-detail" type="text" id="sample6_detailAddress" placeholder="상세주소">
                    <input class="insta" type="text"  placeholder="인스타그램">
                    <input class="facebook" type="text"  placeholder="페이스북">
                    <input class="twitter" type="text"  placeholder="트위터">
                    사업자 <input type="radio">
                    <button type="button" class="profile-btn" >저장</button>
            </div>
            </div>
        </div>
        

    </main>
</body>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="../assets/js/address.js" type="module"></script>
<script src="../assets/js/profile.js" type="module"></script>
<!-- <script>
    var submit = document.getElementById('submitButton');
submit.onclick = showImage;     //Submit 버튼 클릭시 이미지 보여주기

function showImage() {
    var newImage = document.getElementById('image-show').lastElementChild;
  
    //이미지는 화면에 나타나고
    newImage.style.visibility = "visible";
  
    //이미지 업로드 버튼은 숨겨진다
    document.getElementById('image-upload').style.visibility = 'hidden';

    document.getElementById('fileName').textContent = null;     //기존 파일 이름 지우기
}
</script> -->
</html>